@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=League+Gothic&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+AU+VIC+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Satisfy&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

.onHome {
  background-color: #309624;
  color: #fff;
}

.onContact {
  background-color: #309624;
  color: #fff;
}

.onAbout {
  background-color: #309624;
  color: #fff;
}

.onRepairService {
  background-color: #309624;
  color: #fff;
}

.strongHead {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 2px;
  font-size: 1.5em;
}

a {
  color: #000;
  text-decoration: none;
}

.hideSomeContent {
  display: none;
}

.mainSectionNavabar .emailPhoneIconTiming {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 5px 30px;
  background-color: #353935;
  color: #fff;
  font-size: 0.9rem;
  flex-wrap: wrap;
  gap: 10px;
}
.mainSectionNavabar .emailPhoneIconTiming .socioicons a {
  color: #fff;
  transition: color 0.3s;
}
.mainSectionNavabar .emailPhoneIconTiming .socioicons a:hover:nth-child(1) {
  color: blue;
}
.mainSectionNavabar .emailPhoneIconTiming .socioicons a:hover:nth-child(2) {
  color: purple;
}
.mainSectionNavabar .emailPhoneIconTiming .socioicons a:hover:nth-child(3) {
  color: green;
}
.mainSectionNavabar .emailPhoneIconTiming .socioicons a:hover:nth-child(4) {
  color: red;
}
.mainSectionNavabar .emailPhoneIconTiming .socioicons i {
  padding: 2px;
  margin: 0px 5px;
  cursor: pointer;
}
.mainSectionNavabar .emailPhoneIconTiming .callEmail .callNow a,
.mainSectionNavabar .emailPhoneIconTiming .callEmail .emailId a {
  color: #fff;
}
.mainSectionNavabar .pureNavbar {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.3137254902);
  z-index: 1111;
}
.mainSectionNavabar .pureNavbar .LogoNameImg {
  padding: 5px 15px;
  border-radius: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.mainSectionNavabar .pureNavbar .LogoNameImg img {
  width: 8rem;
}
.mainSectionNavabar .pureNavbar .LogoNameImg .logoTCCName {
  margin-left: 1.5rem;
  font-family: "Montserrat", serif;
}
.mainSectionNavabar .pureNavbar .LogoNameImg .logoTCCName b {
  color: #309624;
}
.mainSectionNavabar .pureNavbar .ulBar {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 111;
}
.mainSectionNavabar .pureNavbar .ulBar li {
  margin: 2px 15px;
  list-style: none;
}
.mainSectionNavabar .pureNavbar .ulBar li a {
  position: relative;
  font-size: 1.1em;
  padding: 2px 4px;
  border-radius: 2px;
  transition: color 0.3s ease-in-out;
  font-family: "Poppins", serif;
}
.mainSectionNavabar .pureNavbar .ulBar li a i {
  display: none;
}
.mainSectionNavabar .pureNavbar .ulBar li a::before {
  content: "";
  background-color: #309624;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 100%;
  position: absolute;
  z-index: -1;
  transition: width 0.3s ease-in-out;
}
.mainSectionNavabar .pureNavbar .ulBar li a:hover::before {
  width: 98%;
}
.mainSectionNavabar .pureNavbar .ulBar li a:hover {
  color: #fff;
}
.mainSectionNavabar .pureNavbar .ulBar li .call-us {
  background-color: #62cbad;
  color: #fff;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1529411765);
  padding: 12px 3px;
  display: none;
}
.mainSectionNavabar .pureNavbar .ulBar li .call-us i {
  display: inline-block;
}
.mainSectionNavabar .pureNavbar .menuToggle {
  display: none;
}

/* For Body */
.hideScrollbar {
  overflow: hidden;
}

@media screen and (max-width: 969px) {
  .mainSectionNavabar .emailPhoneIconTiming .socioicons a {
    font-size: 1.1rem;
  }
  .mainSectionNavabar .emailPhoneIconTiming .shopTiming {
    font-size: 0.8rem;
  }
  .mainSectionNavabar .emailPhoneIconTiming .callEmail {
    font-size: 0.8rem;
  }
  .mainSectionNavabar .pureNavbar {
    position: relative;
  }
  .mainSectionNavabar .pureNavbar .LogoNameImg {
    z-index: 222222;
    border: 1px solid transparent;
    transition: border 0.5s ease-in-out;
  }
  .mainSectionNavabar .pureNavbar .LogoNameImg .logoTCCName {
    margin-left: 5px;
    font-size: 1rem;
  }
  .mainSectionNavabar .pureNavbar .borderforLogoNameImg {
    border: 1px solid #000;
  }
  .mainSectionNavabar .pureNavbar .ulBar {
    align-items: normal;
    flex-direction: column;
    position: fixed;
    width: 100%;
    top: -500px;
    left: 0px;
    height: 0%;
    background: #fff;
    overflow: hidden;
    z-index: 11111;
    transition: top 0.5s ease-in-out, height 0.5s ease-in-out;
  }
  .mainSectionNavabar .pureNavbar .ulBar li {
    border-bottom: 1px solid;
    padding: 5px;
  }
  .mainSectionNavabar .pureNavbar .ulBar li a i {
    display: inline-block;
  }
  .mainSectionNavabar .pureNavbar .ulBar li .call-us {
    width: 100%;
    padding: 13px 10%;
    border-radius: 4px;
    display: inline;
  }
  .mainSectionNavabar .pureNavbar .ulBar .call-us-li {
    margin-top: 25px;
    border-bottom: none;
    text-align: center;
  }
  .mainSectionNavabar .pureNavbar .ulBar.ulBarActive {
    top: 0px;
    height: 100%;
    border: 1px solid #309624;
    border-left: none;
    z-index: 111111;
  }
  .mainSectionNavabar .pureNavbar .menuToggle {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    margin-left: -90px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    z-index: 22222222222;
  }
  .mainSectionNavabar .pureNavbar .menuToggle::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background: #000;
    transform: translateY(-9px);
    transition: 0.5s;
    box-shadow: 0px 7px 0px #000;
  }
  .mainSectionNavabar .pureNavbar .menuToggle::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background: #000;
    transform: translateY(5px);
    transition: 0.5s;
  }
  .mainSectionNavabar .pureNavbar .menuToggle.active::before {
    transform: translateY(0px) rotate(45deg);
    box-shadow: 0 0 0 red;
    background-color: red;
  }
  .mainSectionNavabar .pureNavbar .menuToggle.active::after {
    transform: translateY(0px) rotate(-45deg);
    background-color: red;
    box-shadow: 0 0 0 red;
  }
}
@media screen and (max-width: 596px) {
  .mainSectionNavabar .pureNavbar .LogoNameImg img {
    width: 7rem;
  }
  .mainSectionNavabar .pureNavbar .ulBar li a {
    font-size: 0.9em;
  }
}
@media screen and (max-width: 398px) {
  .mainSectionNavabar .pureNavbar .LogoNameImg .logoTCCName {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 331px) {
  .mainSectionNavabar .pureNavbar .LogoNameImg .logoTCCName {
    font-size: 0.6rem;
  }
}
/* SlideShow Section */
.bgMainSection {
  position: relative;
}
.bgMainSection .slider {
  width: 1515px;
  max-width: 100vw;
  height: 500px;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.bgMainSection .slider .bgShade {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2156862745);
  z-index: 1;
}
.bgMainSection .slider .list {
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  transition: 1s;
}
.bgMainSection .slider .list img {
  width: 94.688rem;
  max-width: 100vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.bgMainSection .slider .Btn {
  position: absolute;
  top: 45%;
  z-index: 111;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3333333333);
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
.bgMainSection .slider .Btn:hover {
  opacity: 0.8;
}
.bgMainSection .slider .prevBtn {
  left: 5%;
}
.bgMainSection .slider .nextBtn {
  right: 5%;
}
.bgMainSection .slider .dots {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  display: none;
}
.bgMainSection .slider .dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 10px;
  border-radius: 20px;
  transition: 0.5s;
  z-index: 1;
}
.bgMainSection .slider .dots li.active {
  width: 30px;
}
.bgMainSection .bgImgSection {
  z-index: 11;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-position: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  color: #fff;
  text-align: center;
  /* .hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-100%);
    transition: 0.5s ease-in-out;
  }

  .bgFirstLetter {
    text-transform: uppercase;
    transition-delay: 100ms;
  }
  .bgSecondLetter {
    transition-delay: 400ms;
    border-bottom: 3px solid $primaryColor;
    font-size: 1.5rem;
  }
  .bgthirdLetter {
    transition-delay: 700ms;
  }
  .btnWithWords {
    transition-delay: transform 900ms;
  }

  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  } */
}
.bgMainSection .bgImgSection strong {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}
.bgMainSection .bgImgSection .bgSecondLetter {
  font-weight: 800;
}
.bgMainSection .bgImgSection .phoneNumber {
  color: #fff;
  cursor: pointer;
  display: inline;
  margin: 5px 1px;
  font-weight: 500;
  z-index: 11;
}
.bgMainSection .bgImgSection .btnWithWords {
  margin-top: 15px;
  box-sizing: content-box;
  background: transparent;
  height: 30px;
  padding: 2px 8px;
  display: flex;
  border: 1px solid #fff;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  color: #fff;
  padding: 2px 8px;
}
.bgMainSection .bgImgSection .btnWithWords:hover {
  background: #309624;
}

@media screen and (max-width: 768px) {
  .bgMainSection .slider {
    height: 300px;
  }
  .bgMainSection .bgImgSection .bgSecondLetter {
    font-size: 1.2rem;
  }
  .bgMainSection .bgImgSection .bgthirdLetter a {
    font-size: 1rem;
  }
}
@media screen and (max-width: 496px) {
  .bgMainSection .slider .Btn {
    font-size: 1rem;
  }
  .bgMainSection .bgImgSection strong {
    font-size: 0.9rem;
    text-align: center;
  }
  .bgMainSection .bgImgSection p {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 292px) {
  .bgMainSection .slider .Btn {
    font-size: 1rem;
  }
  .bgMainSection .bgImgSection .btnWithWords {
    height: 20px;
  }
  .bgMainSection .bgImgSection .btnWithWords strong {
    font-size: 0.7em;
    margin-top: 3px;
  }
}
.tagline {
  margin-top: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  text-align: center;
  padding: 2px;
  font-size: 1.4rem;
}

@media screen and (max-width: 500px) {
  .tagline {
    font-size: 1.2rem;
  }
}
/* Why Choose Us Section */
.chooseUsSection {
  margin: 60px 0px;
  text-align: center;
}
.chooseUsSection .chooseUsContent {
  text-align: center;
  padding: 10px 30px;
}
.chooseUsSection .chooseUsContent p {
  font-size: 1.3rem;
}
.chooseUsSection .boxesOfChooseUs {
  padding: 15px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 20px;
  justify-content: center;
}
.chooseUsSection .boxesOfChooseUs .box1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
  padding: 5px;
}
.chooseUsSection .boxesOfChooseUs .box1 .wordBox {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.3em;
  margin-left: 5px;
}
.chooseUsSection .boxesOfChooseUs .box1 p {
  margin-top: 8px;
}

@media screen and (max-width: 1225px) {
  .chooseUsSection .boxesOfChooseUs {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 25em);
    gap: 30px;
  }
  .chooseUsSection .boxesOfChooseUs .box1 .wordBox {
    font-size: 1em;
  }
}
@media screen and (max-width: 409px) {
  .chooseUsSection .boxesOfChooseUs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .chooseUsSection .boxesOfChooseUs .box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .chooseUsSection .boxesOfChooseUs .box1 .wordBox {
    margin-left: 0px;
    margin-top: 13px;
  }
  .chooseUsSection .boxesOfChooseUs .box1 p {
    text-align: center;
  }
}
/* Services we Offer */
.servicesSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  background-color: #faf8f8;
}
.servicesSection .subServicesSection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 25px;
  padding: 0px 15px;
}
.servicesSection .subServicesSection .sevicesBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: inherit;
  flex-basis: 200px;
  flex-direction: column;
  align-items: normal;
  justify-content: flex-start;
  background-color: #fff;
  padding: 15px;
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  gap: 5px;
  border: 2px solid #6ce05f;
  position: relative;
  cursor: pointer;
}
.servicesSection .subServicesSection .sevicesBox .serviceImage {
  width: 100%;
  height: 122px;
}
.servicesSection .subServicesSection .sevicesBox .serviceImage img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.servicesSection .subServicesSection .sevicesBox i {
  font-size: 2.5em;
}
.servicesSection .subServicesSection .sevicesBox .descService {
  font-size: 0.85em;
}
.servicesSection .subServicesSection .sevicesBox.hide {
  display: none;
}
.servicesSection .subServicesSection .sevicesBox:hover {
  transform: scale(1.02);
  border: 2px solid #309624;
}
.servicesSection .subServicesSection .sevicesBox strong {
  text-transform: uppercase;
}
.servicesSection .subServicesSection .sevicesBox p {
  text-wrap: wrap;
}
.servicesSection .subServicesSection .sevicesBox .gotoWsA {
  font-size: 0.9em;
  background-color: #309624;
  text-align: center;
  padding: 5px 2px;
  border-radius: 4px;
  color: #fff;
  transition: background-color 0.3s ease;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: -28px;
  width: 105px;
  cursor: pointer;
}
.servicesSection .subServicesSection .sevicesBox .gotoWsA:hover {
  background-color: #309624;
}
.servicesSection .allServices {
  margin-top: 85px;
  background: transparent;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.6);
  display: flex;
}
.servicesSection .allServices a {
  flex-basis: 1;
  font-size: 1.2em;
  padding: 5px 15px;
  transition: color, background-color 0.3s ease-in-out;
}
.servicesSection .allServices a:hover {
  background-color: #309624;
  color: #fff;
}

/* repairStoreContent  - We are a Repair Store */
.repairStoreContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25px;
  padding: 15px;
}
.repairStoreContent .imageAndContent {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  gap: 10px;
}
.repairStoreContent .imageAndContent .mobileImg {
  width: 30%;
}
.repairStoreContent .imageAndContent .mobileImg img {
  width: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px;
}
.repairStoreContent .imageAndContent .contentPart {
  width: 50%;
}
.repairStoreContent .imageAndContent .contentPart p {
  font-size: 1.1em;
  text-align: justify;
}

@media screen and (max-width: 700px) {
  .repairStoreContent .imageAndContent {
    flex-direction: column;
  }
  .repairStoreContent .imageAndContent .mobileImg {
    width: 100%;
  }
  .repairStoreContent .imageAndContent .contentPart {
    width: 100%;
  }
}
/* What People Says About us */
.reviewSection {
  background-color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem 2.5rem;
}
.reviewSection strong {
  font-size: 1.8rem;
  border-bottom: 1px solid #000;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.reviewSection .reviewHere {
  padding: 15px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  justify-content: center;
  gap: 10px;
  justify-content: center;
}
.reviewSection .reviewHere .testimonial-card {
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  border-radius: 8px;
  padding: 20px;
}
.reviewSection .reviewHere .testimonial-card .user-info {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.reviewSection .reviewHere .testimonial-card .user-info .userProfileName {
  background: green;
  color: #fff;
  padding: 10px 13px;
  border-radius: 50%;
  margin-right: 15px;
}
.reviewSection .reviewHere .testimonial-card .user-info .name {
  font-size: 16px;
  font-weight: bold;
}
.reviewSection .reviewHere .testimonial-card .user-info .handle {
  color: #888;
  font-size: 14px;
}
.reviewSection .reviewHere .testimonial-card .user-info .stars {
  color: #f5c518;
  margin-left: auto;
  font-size: 18px;
}
.reviewSection .reviewHere .testimonial-card .testimonial-content {
  color: #555;
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
}
.reviewSection .reviewHere .btns {
  position: absolute;
  top: 26px;
  right: 25px;
}
.reviewSection .reviewHere .btns button {
  background-color: #fff;
  border-radius: 5px;
  outline: none;
  padding: 7px 10px;
  margin-top: 15px;
  cursor: pointer;
  border: none;
  font-family: sans-serif;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2588235294);
  background-color: #309624;
  color: #fff;
  transition: box-shadow 0.3s ease;
}
.reviewSection .reviewHere .btns button:hover {
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2588235294);
  transform: scale(1.05);
}
.reviewSection .viewAllReviews {
  margin-top: 2rem;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px 25px;
  font-size: 0.9rem;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.2588235294);
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
.reviewSection .viewAllReviews:hover {
  background: #309624;
  color: #fff;
}

@media screen and (max-width: 777px) {
  .reviewSection {
    flex-direction: column;
    min-height: 85vh;
    width: 100%;
    padding: 5rem 1rem;
  }
  .reviewSection .headCustomerSories {
    font-size: 1rem;
  }
  .reviewSection .reviewHere {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    gap: 10px;
    justify-content: center;
    width: 100%;
    padding: 15px 5px;
  }
}
@media screen and (max-width: 480px) {
  .reviewSection {
    flex-direction: column;
  }
  .reviewSection .reviewHere {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    gap: 10px;
    justify-content: center;
  }
  .reviewSection .reviewHere .testimonial-card .user-info .userProfileName {
    padding: 2px 5px;
    margin-right: 2px;
  }
  .reviewSection .reviewHere .testimonial-card .user-info .name {
    font-size: 0.6rem;
  }
  .reviewSection .reviewHere .testimonial-card .user-info .stars {
    font-size: 0.8rem;
  }
  .reviewSection .reviewHere .testimonial-card .testimonial-content {
    font-size: 0.7rem;
  }
}
/* footerSection */
.footerSection {
  background: #309624;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  padding: 25px 15px;
  gap: 15px;
  flex-wrap: wrap;
}
.footerSection strong {
  text-decoration: underline;
  font-size: 1.2em;
}
.footerSection a {
  color: #fff;
}
.footerSection li {
  list-style: none;
  margin: 15px 0px;
}
.footerSection .footerLogo {
  border: 1px solid #fff;
  padding: 10px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerSection .footerLogo img {
  width: 15rem;
}
.footerSection .quickLinks ul li a {
  position: relative;
}
.footerSection .quickLinks ul li a::after {
  content: "";
  background-color: #fff;
  left: 0px;
  bottom: -3px;
  width: 0%;
  height: 0.5px;
  position: absolute;
  transition: width 0.3s ease-in-out;
}
.footerSection .quickLinks ul li a:hover::after {
  width: 98%;
}
.footerSection .quickServices a {
  border: 1px solid #fff;
  padding: 3px 7px;
  text-transform: uppercase;
  font-size: 0.8em;
  background-color: #fff;
  color: #000;
  font-weight: 700;
}
.footerSection .quickContacts {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: normal;
  gap: 15px;
  flex-direction: column;
}
.footerSection .quickContacts .TCCaddresses {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: normal;
  gap: 5px;
}

@media screen and (max-width: 600px) {
  .footerSection .quickContacts .TCCaddresses {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 277px) {
  .footerSection .quickContacts .footerEmail {
    font-size: 0.7rem;
  }
}
.copyrightLine {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: #000;
  color: #fff;
  padding: 15px 5px;
}
.copyrightLine .socioicons a {
  color: #fff;
  margin: 0px 3px;
  transition: color 0.3s;
}
.copyrightLine .socioicons a:hover:nth-child(1) {
  color: blue;
}
.copyrightLine .socioicons a:hover:nth-child(2) {
  color: purple;
}
.copyrightLine .socioicons a:hover:nth-child(3) {
  color: green;
}
.copyrightLine .socioicons a:hover:nth-child(4) {
  color: red;
}

@media screen and (max-width: 443px) {
  .footerSection {
    flex-direction: column;
  }
}
@media screen and (max-width: 297px) {
  .footerSection {
    flex-direction: column;
  }
  .footerSection .footerLogo img {
    width: 9.375rem;
  }
}
.bottomWhatsapp,
.bottomCallUs {
  position: fixed;
  padding: 5px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4980392157);
  border-radius: 50%;
  cursor: pointer;
  z-index: 11;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.bottomWhatsapp {
  bottom: 15px;
  right: 10px;
  padding: 5px 7px;
  background-color: #25d366;
  color: #fff;
}
.bottomWhatsapp i {
  font-size: 1.9em;
}

.bottomCallUs {
  bottom: 63px;
  right: 10px;
  background-color: rgb(46, 217, 46);
  color: #fff;
  padding: 8px;
}
.bottomCallUs i {
  font-size: 1.3em;
  transition: transform 0.2s ease;
  animation: tilt-shake 1s infinite;
}
@keyframes tilt-shake {
  0%, 100% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(15deg);
  }
  40% {
    transform: rotate(-15deg);
  }
  60% {
    transform: rotate(13deg);
  }
  80% {
    transform: rotate(-13deg);
  }
}

.gotoTop {
  position: fixed;
  bottom: 108px;
  right: 10px;
  background-color: #309624;
  color: #fff;
  padding: 5px 6px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.4980392157);
  border-radius: 5px;
  z-index: 11;
  cursor: pointer;
}
.gotoTop i {
  font-size: 1.7em;
}

.authorName {
  font-size: 0.8rem;
}
.authorName a {
  color: #309624;
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */